@model IEnumerable<Online_Training_management_system.Models.Trainings>


@if (@Session["EmailId"] == null)
{
    <div class="button-container">
        @Html.ActionLink("Signup  ", "Register", new { Controller = "User", Action = "Register" })|
        @Html.ActionLink("Login", "Login", new { Controller = "User", Action = "Login" })
    </div>
}

<p>
    @ViewBag.Message
</p>


@{
    ViewBag.Title = "Available Courses";
}

<h2>Available Courses</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.TrainingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fees)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TrainingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fees)
            </td>
            <td>

                @Html.ActionLink("Login to Register", "Login", new { Controller = "User", Action = "Login" }) |

            </td>
        </tr>
    }

</table>